<!DOCTYPE html>
<html lang="en" ng-app="DudeBalm">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The Dude's Balm</title>
  <link rel="icon" href="/img/icon.jpg">


  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="font-mfizz/font-mfizz.css">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="css/creative.css" rel="stylesheet">

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span class="menu-text">Menu</span> <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">Grateful Dude's Balm</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#reviews">Reviews</a>
          </li>
          <li>
            <a class="page-scroll" href="#purchase">Purchase</a>
          </li>
          <li>
            <a class="page-scroll" href="#locations">Locations</a>
          </li>
          <li>
            <a class="page-scroll" href="#donate">Donate</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">Grateful Dude's Healing Balm</h1>
        <h2>CBD/THC Salve</h2>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">About Us</h2>
          <hr class="light">
          <p class="text-left">The Grateful Dude's Healing Balm is a CBD/THC infused healing cream. It is made of coconut oil infused with cannabis, shea butter, beeswax, and a blend of essential oils including; arnica, peppermint, eucalytpus, tea tree, lavender, marjoram, rosemary, ginger, cinnamon, and clove. All certified organic.   More information coming soon. For purchasing, email Shane at shane.santucci@gmail.com   Donations are always appreciated and go straight to the product, and will receive a personal thank you from the Grateful Dude :) <3 www.paypal.me/DudeBalm        </p>
          <a href="#contact" class="page-scroll btn btn-default btn-xl sr-button" id="contact-btn">Contact Us!</a>
        </div>
      </div>
    </div>
  </section>

  <section id="reviews">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="section-heading">Reviews:</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h4>We have 58 reviews on Facebook and a 5/5 rating!</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="technology-box review1">
            <blockquote>
              <p>Definitely a solid product. I've bee using it daily since I discovered it about 6 months or so now and my skin is loving it. I use it after surfing shorebreak getting scraped up and kind of sunburnt and it instantly takes effect relieving the dry burnt feeling. I also use it to massage into sore muscles and bruises and it often times makes me forget they we're even hurting after a few minutes. I even got my mom hooked on it because it's the only thing that has worked for her arthritis. Couldn't recommend this stuff more!</p>
              <footer>Adam S. <cite title="Source Title">via Facebook</cite></footer>
            </blockquote>
          </div>
          <div class="technology-box review3">
            <blockquote>
              <p>My boyfriend and I are obsessed with this balm! It helps his headaches and he claims he sleeps better when be applies it before bed. For me, it helps my breath because I have horrible allergies and it also relieves pain from my lower back and abdomen area when I'm on my moon. Life would would be tough without it for sure! I swear it has magical healing powers. There is certainly a lot of love and intention put into this product.</p>
              <footer>Diana A. <cite title="Source Title">via Facebook</cite></footer>
            </blockquote>
          </div>
          <div class="technology-box review5">
            <blockquote>
              <p>Love this stuff so much! One of my favorite salves I have found this far. Great for muscle pain, but super versatile in how I can apply anywhere - lips, face and skin generally. Love me some multi purpose heady healthy skin care!</p>
              <footer>Gabrielle R. <cite title="Source Title">via Facebook</cite></footer>
            </blockquote>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="technology-box review2">
            <blockquote>
              <p>I suffer from nerve damage from a stabbing as well as a bum knee with no miniscus. When a spasm starts, when my knees buckling on me, or when my flat feet are throbbing outta my shoes...I slap some of this on and the pain just disappears. Also does wonders for my headaches after a late night of raging! Ive tried many of products and this is truly the only thing that's helped this well, that fast! </p>
              <p>I recommend everyone has some!!</p>
              <footer>Andrew M. <cite title="Source Title">via Facebook</cite></footer>
            </blockquote>
          </div>
          <div class="technology-box review4">
            <blockquote>
              <p>The Grateful Dudes Healing Balm is amazing, I go through one about every 1-2 months and it does wonders for healing wounds, healing scars, helping speed the process of poison oak, arthritis, bruising, the list goes on. I've never had something work like this does, highly recommended!!!</p>
              <footer>Brandon L. <cite title="Source Title">via Facebook</cite></footer>
            </blockquote>
          </div>
          <div class="technology-box review6">
            <blockquote>
              <p>I love this balm I live with chronic pain every day due to fibromyalgia, Sjögren's syndrome and degenerate disc disease, I try not to take medication and try to get pain relief the natural way and this balm helps me get through the day.So thank you for making this balm</p>
              <footer>Ruthie S. <cite title="Source Title">via Facebook</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
      <!-- <div class="row text-center">
        <a href="reviews.html" class="btn btn-primary btn-xl page-scroll">See More Reviews</a>
      </div> -->
    </div>
  </section>

  <!-- <section id="purchase">

  </section> -->

  <!-- <section id="donate">

  </section> -->

  <section class="no-padding" id="locations">
    <div class="container-fluid">
      <div class="row bg-primary">
        <div class="col-md-4 col-xs-12">
          <h2>Locations</h2>
          <p>Click on a link to change the map</p>
          <ul>
            <li><a ng-click="mapSelection = 'herbal-cruz'">Herbal Cruz, Santa Cruz, CA</a></li>
            <li><a ng-click="mapSelection = 'horizon'">Horizon Collective, Sacramento, CA</a></li>
            <li><a ng-click="mapSelection = 'pure-life'">Pure Life Collective, Diamond Springs, CA</a></li>
            <li><a ng-click="mapSelection = 'all-naturals'">All Naturals, Inc., Shingle Springs, CA</a></li>
            <li><a ng-click="mapSelection = 'central-coast'">Central Coast Wellness Center, Ben Lamond, CA</a></li>
            <li><a ng-click="mapSelection = 'silverstreak'">Silverstreak Solutions (Delivery), Folsom, CA</a></li>
            <li><a ng-click="mapSelection = 'summit'">Summit Collective (Delivery), Monterey, CA</a></li>
            <li><a ng-click="mapSelection = 'all'">Show all locations</a></li>
          </ul>
        </div>
        <div class="col-md-8 col-xs-12 text-center" ng-if="mapSelection === 'all' || !mapSelection">
          <iframe src="https://www.google.com/maps/d/embed?mid=1FNE-brqzEC6a2A3cfLO7ZlfMldI" width="640" height="480"></iframe>
        </div>
        <div class="col-md-8 col-xs-12 text-center" ng-if="mapSelection === 'horizon'">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3120.6550934307074!2d-121.41175434944361!3d38.54171807533644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809adad04eccb9a3%3A0x22592c0df4c6fc27!2sHorizon+Non+Profit+Collective!5e0!3m2!1sen!2sus!4v1485636992465" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-8 col-xs-12 text-center" ng-if="mapSelection === 'herbal-cruz'">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3187.7855110763926!2d-121.96739534948952!3d36.967179165884204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e1514132631e9%3A0x8474f7bcfbae59b9!2sHerbal+Cruz!5e0!3m2!1sen!2sus!4v1485637136646" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-8 col-xs-12 text-center" ng-if="mapSelection === 'all-naturals'">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.529657090579!2d-120.937961984326!3d38.659693879608035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809af799577b128d%3A0x93b5ff2e934d9bbd!2sAll+Natural+Inc.!5e0!3m2!1sen!2sus!4v1490293552274" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-8 col-xs-12 text-center" ng-if="mapSelection === 'pure-life'">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3114.014536167554!2d-120.81805444943895!3d38.69451036638333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809a59edfa6b6fff%3A0xecf0389997dc35eb!2sPure+Life+Collective!5e0!3m2!1sen!2sus!4v1485637289584" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-8 col-xs-12 text-center" ng-if="mapSelection === 'central-coast'">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.924570794345!2d-122.08550521153875!3d37.07221358563755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e46a2b944f7cd%3A0x2319ca6d77d85487!2sCentral+Coast+Wellness+Center!5e0!3m2!1sen!2sus!4v1490256597648" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Reach Out To Us</h2>
          <hr class="primary">
          <p>If you have any questions or concerns we would love to hear from you!</p>
        </div>
        <div class="col-lg-4 col-lg-offset-2 text-center">
          <i class="fa fa-phone fa-3x sr-contact"></i>
          <p>831.999.0926</p>
        </div>
        <div class="col-lg-4 text-center">
          <i class="fa fa-envelope-o fa-3x sr-contact"></i>
          <p><a href="mailto:shane.santucci@gmail.com">shane.santucci@gmail.com</a></p>
        </div>
        <div class="col-md-12 text-center">
          <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/pg/GratefulDudeBalm/" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- jQuery -->
  <script src="vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Theme JavaScript -->
  <script src="js/creative.js"></script>

  <!-- Angular -->
  <script src="/js/app.js"></script>

</body>

</html>
